/*
/* have the aside for the linkedin logos and have them in the main section*/
/* test out display: block;*/
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 1px solid black;
}
*/
header{
	/*background-color: #ffffff;*/
	background-color: lightgrey;
	margin: 0 auto;
	line-height: 2;
	color: #333;
	margin: 0 auto;
	text-align: center;
	border-style: solid;
	height: 78px;
	border-bottom: 5px darkgrey solid;
}

}
body{
	width: 970px;
}
.headerLink{
	background-color: #4aaaa5;
	color:white;
	padding: 5px;
	padding-bottom: 0px;
	font-size: 16px;
}
a:hover {
	color: #777
}

h1 {
}

/*h2, .logos{
	width:40%;
	/*height: 55%;*/
	/*width: 250px;*/
	/*float: right;*/
	/*overflow:hidden;
 }*/

/*nav{
	position: relative;
	width: 60%;
}*/
ul{
	width: 90;
	display: inline;
	bottom:0;
}
li{
	display:inline;
}



img{
	position: relative;
}

footer{
	background-color: darkgrey;
	margin: 0 auto;
	position: absolute;
	border-top: 10px #4aaaa5 solid;
	text-align: center;
	padding-top: 15px;
	height: 30px;
	top: 100%;
	bottom: 0;
	color: white;
	width: 100%;
}

#aboutme{
	color: #4aaaa5;
    line-height: 25px;
    padding-top: 20px;
    padding-left: 20px;
    width: 100%;
    /*border-bottom: solid 2px;*/
    font-size: 20px;
    height: 20px;
}
#Name {
    position: relative;
    bottom: 0;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    width: 150px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 13px;
    text-align: center;
    height: 50px;
    margin-left: 2%;
    color: white;
    font-size: 25px;
}

/*#Name{
	position: relative;
	bottom: 0;
	font-family: 'Georgia', Times, Times New Roman, serif;
	background-color: #4aaaa5;
	width: 125px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;

	margin-top: 40px;
	text-align: center;
	height: 40%;
	margin-left: 2%;
	color:white;
	font-style: bold;

}*/
.aboutParagraph{
	position: relative;
	width: 80%;
	max-width: 500px;
	margin: 0 auto;
	padding-left: 15px;
	padding-top: 15px;
}

.navigationlinkslist{
	bottom: 0;
	float: right;
	width: 30%;
	padding: 50px;

	/*padding-right:10px;*/
}
.navtextlinks{
	width: 33px;
}



.main-body{
	padding: 5px;
	width: 650px;
}
.headshot{
	border: 50px;
	padding: 15px;
	float: left;
}
.breakline{
	position: left;
}

.textbreak{
	height: 16px;
}

.connect{
	padding-right: 39px;
	color: #4aaaa5;
	font-size: 20px;
	font-height: 25px
	margin-bottom: 5px;

}

.sidebar{
	width: 270px;
	float: right;
	margin-right: 52px;
	/*margin-top: 10px;*/
	text-align: center;
	color: #4aaaa5;
	background-color: rgba(192,192,192,0.3);;
	border: solid 2px;
	padding: 10px 0px 10px 0px;

	
	/*display:block;*/
}

.logos{
	position: relative;
	height: 80%;
}

 .logo {
 	position:relative;
 	max-width: 40px;
 	max-height : 40px;
 	padding-left: 12px;
 	display: inline;
 }

 .logosize{
 	width:40px;
 	height: 40px;
 }


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  text-align: center;
}

main{
	/*width: 650px;*/
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	border-color: #dddddd;
	/*background-color: red !important;*/
	margin: auto;
	/*background-image: url("../images/asfalt-dark.png");*/
}
	/*background-image: url("./assets/images/asfalt-dark.png");*/
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

mainsection {
	/*display: block;*/
	width: 650px;
	border-style: solid;
	/*float: left;*/
	/*margin: 2%;*/
	color: #7777777;
    float: left;
	margin-left: 2px;
	height: 400px;
	margin-top: 52px;
	margin-left: 52px;
	background-color: rgba(192,192,192,0.3);;
	border: solid 2px #4aaaa5;
	padding: 10px 0px 10px 0px;
}

body {
 background-image: url("../images/asfalt-dark.png");
}   


/*This is where the CSS for the COntact page will be. 
*********?????????????????******************??????????????????
????????????*************??????????????????**************
*/
.contactSection{
	border: solid 2px #4aaaa5;
	background-color: white;
	width: 40%;
	padding: 15px;
	margin-left: 55px;
	margin-top: 55px;
	float: left;
	opacity: .8; 
}
.contactTitle{
	font-size: 30px;
	color: #4aaaa5;
}
.inputSection{
	padding: 10px;
	margin-top;
}

/*THis is where the css for the portfolioi page is going to be
_________________-------------------------__________________

--------------_________________________-----------------*/

/*.workpic{
	width: 100px;
	height: 100px;
}

.portImageSize{

}*/

.picsize{
  height: 100px;
  width: 100px;
  margin: 2%;
  border: 3px solid blue;
  border-radius: 5px;
}

.portImageSizeTest{
background-image:url();
  height: 150px;
  width: 150px;
  padding: 5px;
  border: 3px solid blue;
  border-radius: 5px;
}

.portfolioContainer{
  width: 30%;
  height:20%;
  position:relative;
  float: left;
  margin: 5%;
}

.buttonFormat{
  position:absolute;
  width: 23%;
  bottom: 40%;
  left: 0;
  padding-left: 5px;
  opacity: .5;
  margin-left: 12px;
}


